html, body {
    background-color: #FAFAFA;
}
textarea {
    max-width: 100%;
    min-width: 100%;
}
.mapPicker {
    height: 400px;
}
.list-header h3 {
    font-size: 22px;
    line-height: 46px;
}
@media (min-width: 550px){
    .container {
        width: inherit;
    }
    .list-header h3 {
        font-size: 30px;
    }

    #add-toi-tag-search table,
    #add-toi-context-search table {
        display: table;
    }
}
@media (min-width: 400px){
    .container {
        width: inherit;
        padding: inherit;
    }

    #add-toi-tag-search table,
    #add-toi-context-search table {
        display: table;
    }
}

a {
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}
table {
    border-collapse: collapse;
}
table tr {
    border-bottom: solid 1px #E0E0E0;
}
table td, table th {
    border: none;
}
input[type=submit] {
    float: right;
}
h3 {
    font-family: 'Comfortaa', sans-serif;
}
#login-form,
#register-form {
    max-width: 500px;
    margin:auto;
}

#viewSpace {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 32px;
}

.header, .header-bgc {
    /*min-height: 5rem;*/
    margin-bottom: 0;
}
.header * {
    margin-top: 10px;
    color: #FAFAFA;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header h3 {
    padding-left: 12px;
    font-family: 'Comfortaa', serif;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 16px;
    display: inline-block;
}
.header-menu, .header-menu-button {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    display: inline-block;
}
.header {
    padding: 16px 8px 8px;
    border-radius: 3px;
    box-shadow: 4px 4px 30px -4px rgba(66,66,66,0.67);
    margin-top: 13px;
    background-color: rgba(21,101,192,1);
}
.header-menu-button {
    cursor: pointer;
    display: inline-block;
    padding: 1px 15px;
    transition: background-color 50ms;
    border: none;
    border-radius: 1px;
    margin: 4px 1px 1px;
    outline: none;
}
.header-menu-button:hover {
    transition: background-color 150ms;
    background-color: rgba(144,202,249 ,0.3)
}
.header-menu-button.active {
    transition: background-color 150ms;
    background-color: rgba(144,202,249 ,0.3);
}

.empty-placeholder:empty::after{
    content: attr(data-empty-message);
    font-size: 10pt;
    height: 20px;
    color: #818181;
    white-space: nowrap;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

input:invalid, textarea:invalid, select:invalid {
    border: 1px solid #ef9a9a;
}
input:invalid:focus, textarea:invalid:focus, select:invalid:focus {
    border: 1px solid #ef5350;
}
input[type=file]::-webkit-file-upload-button {
    margin-bottom: 1rem;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.tag, .toi, .context, .file {
    -webkit-box-shadow: 4px 4px 23px -6px rgba(66,66,66,0.67);
    -moz-box-shadow: 4px 4px 23px -6px rgba(66,66,66,0.67);
    box-shadow: 4px 4px 23px -6px rgba(66,66,66,0.67);
}

.file {
    padding: 12px 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
    display: inline-block;
    transition: background-color 50ms;
    cursor: pointer;
    /*min-width: 55px;*/
    margin: 8px;

    width: 264px;
}

.file a {
    font-size: 40px;
    text-decoration: none;
    padding-left: 10px;
    color: #424242;
}

.tag {
    padding: 12px 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
    display: inline-block;
    transition: background-color 50ms;
    cursor: pointer;
    /*min-width: 55px;*/
    margin: 8px;
}
.context {
    padding: 14px 10px;
    border-radius: 2px;
    background-color: #EEEEEE;
    display: inline-block;
    transition: background-color 50ms;
    cursor: pointer;
    /*min-width: 55px;*/
    margin: 8px;
}
.tag:hover, .toi:hover, .context:hover {
    background-color: #E0E0E0;
    transition: background-color 150ms;
}
.tag *, .toi *, .context *, .file * {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tag table, .tag tr, .toi table, .toi tr, .file table, .file tr {
    table-layout: fixed;
    border: hidden;
    border-collapse: collapse;
    height: 100%;
}
.tag i {
    text-align: center;
    min-width: 35px;
    line-height: unset;
}
.modal-popup {
    max-width: 800px;
    background: #FAFAFA;
    padding: 40px 20px 10px;
    margin: auto;
    position: relative;
    width: auto;
    border-radius: 3px;
    overflow: auto;
}

.toi {
    padding: 12px 12px;
    border-radius: 2px;
    width: 264px;
    max-height:200px;
    background-color: #EEEEEE;
    display: inline-block;
    transition: background-color 50ms;
    cursor: pointer;
    margin: 8px;
}
.toi img {
    max-height: 96px;
    max-width: 120px;
    float: right;
    border-radius: 2px;
}
.toi table, .file table {
    width: 100%;
}
.toi i, .toi p {
    font-size: 10pt;
}
#add-toi-tag-search {
    border: 1px lightgrey;
    border-radius: 2px;
}
#add-toi-tag-search button, #add-toi-context-search button {
    padding: 0;
}
#add-toi-tag-search > span, #add-toi-context-search span{
    margin-left:0;
}

#add-toi-context-search table {
    max-height: 300px;
    overflow-y: auto;
    display:inherit;
}#add-toi-tag-search table {
    max-height: 416px;
    overflow-y: auto;
     display: inherit;
}
#add-toi-tag-search tbody,
#add-toi-context-search tbody {
    display: table;
    width: 100%;
}

#add-toi-context-search td,
#add-toi-tag-search td{
    max-width: 125px;
}

.context-cell .action-button, .context-cell .info-button, .tag-cell .action-button, .tag-cell .info-button {
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tag-cell:hover, .context-cell:hover {
    background-color: #dcdcdc;
    transition: background-color 100ms;
}

#create-new-context-inline {
    text-align: right;
    display: inline-block;
    /*margin-bottom: 18px;*/
}
#filter-TOI, #filter-context, #filter-tag, #filter-file {
    margin-top: 4px;
 }

#create-new-tag, #create-new-toi, #create-new-context, #upload-file {
    float: right;
    border: none;
    line-height: 45px;
    font-size: 38px;
    padding: 0;
    margin: 0;
}
#add-file-to-batch-form {
    border-bottom: thin solid #E0E0E0;
}

.tag-type-image {
    margin-top: 4px;
}

.list-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.list-header .first {
    grid-column: 1 / 3;
}
.list-header .middle {
    grid-column: 3 / 7;
}

.file-upload-list li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.file-batch td {
    max-width: 10px;
}
.file-batch td:last-child {
width: 10%;
}
