html, body {
    background-color: #FAFAFA;
}

.mapPicker {
    /*width: 500px; */
    height: 400px;
}

#login-form {
    width: 500px;
    margin:auto;
}

#viewSpace {
    margin-top: 45px;
}

.header, .header-bgc {
    /*min-height: 5rem;*/
    width: 100%;
    margin-bottom: 0;
}
.header * {
    margin-top: 10px;
    color: #FAFAFA;
}
.header h3 {

    font-family: Comfortaa, serif;
    margin-bottom: 0;
}
.header-menu, .header-menu-button {
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgba(21,101,192,1);
    -webkit-box-shadow: 0px -2px 30px 22px rgba(21,101,192,1);
    -moz-box-shadow: 0px -2px 30px 22px rgba(21,101,192,1);
    box-shadow: 0px -2px 30px 22px rgba(21,101,192,1);
}
.header-menu-button {
    cursor: pointer;
    display: inline-block;
    padding: 1px 20px;
    transition: background-color 50ms;
}
.header-menu-button:hover {
    transition: background-color 150ms;
    background-color: rgba(144,202,249 ,0.3)
}

.empty-placeholder:empty::after{
    content: attr(data-empty-message);
    font-size: 10pt;
    height: 20px;
    color: #818181;
    white-space: nowrap;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}


ul, li {
    list-style: none;
}

.tag {
    padding: 12px 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
    display: inline-block;
    transition: background-color 50ms;
    cursor: pointer;
    /*min-width: 55px;*/
    margin: 8px;
}
.tag:hover {
    background-color: #E0E0E0;
    transition: background-color 150ms;
}
.tag * {
    padding: 0;
    margin: 0;
}
.tag table, .tag tr {
    table-layout: fixed;
    border: hidden;
    border-collapse: collapse;
}
.tag i {
    text-align: center;
    min-width: 35px;
    line-height: unset;
}
.modal-popup {
    max-width: 500px;
    background: #FAFAFA;
    padding: 20px;
    margin: 40px auto;
    position: relative;
    width: auto;
    border-radius: 3px;
}